$header-height:3.75em;
$header-color: #2f323a;
$padding:.5em;
$header-line-height: $header-height -($padding * 2);
$break-xx-small:480px;
$break-x-small:786px;
$break-small:992px;
$break-medium:1200px;